/*MENU DESPLEGABLE*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    /* Ajustar el relleno superior para evitar que el contenido se solape con el menú fijo */
    padding-top: 60px; /* Ajustar según la altura del menú */
    background-color: #252645;
}

header {
    position: fixed; /* Hacer que el menú sea fijo */
    top: 0; /* Fijar en la parte superior de la página */
    width: 100%;
    background-color: #1a1929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Verdana";
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

ul {
    list-style: none;
    width: 100%;
    background-color: #1a1929; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 55px;
}

.nav li {
    width: auto;
    
}
.nav li a {
    color: azure;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-left: 25px;
}
.nav li a:hover {
    background-color: #252645;
}
/* Estilo para los botones */
.buttons button {
    font-family: "Verdana";
    background-color: #6160d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 15px; /* Espacio entre los botones */
    cursor: pointer;
}

.buttons button:hover {
    background-color: #252645;
}

/* Alineación de los botones */
.buttons {
    margin-left: auto; /* Mueve los botones al margen derecho */
    display: flex;
    align-items: center; /* Centra los botones verticalmente */
}
/*--------------------------------------------------QUIENES SOMOS (index)-------------------------------------------------------*/
.IntroduccionIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
}
.TituloIntroduccionIndex{
    text-align: center;
    color: #6160d7;
}
.HistoriaIndex{
    float: right;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 230px;
}
.TituloHistoriaIndex{
    text-align: center;
    color: #6160d7;
}
.ValoresIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 280px;
}
.TituloValoresIndex{
    text-align: center;
    color: #6160d7;
}
.MisionVisionIndex{
    float: right;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 480px;
}
.TituloVisionIndex{
    text-align: center;
    color: #6160d7;
}
.EquipoIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 545px;
}
.TituloEquipoIndex{
    text-align: center;
    color: #6160d7;
}
.VideoIndex {
    position:relative;
    width: 80px; 
    height: 150px; 
    top: 600px;
}

/*--------------------------------------------------JUEGOS/EXPANSIONES-------------------------------------------------------*/
.partejuegos {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    height: 500px;
    perspective: 900px;
}
.JUEGOS img {
    width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción de aspecto */
}
.contenedorjuegos {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform: rotateX(58deg) scale(0.6);
    perspective: 300px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear 1;
    margin: 20px;
    display: block;
    margin: auto;
}

#j0 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
    box-shadow: 0px 20px 100px #555;
    left: -430px;
}

#j1 {
    box-shadow: 0px 20px 100px #555;
    z-index: 0;
    left: 320px;
}

#j2 {
    z-index: 0;
    box-shadow: 0px 20px 100px #555;
    left: -50px;
}

#j3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
    box-shadow: 0px 20px 100px #555;
    left: -430px;
    top: 110%;
}

#j4 {
    box-shadow: 0px 20px 100px #555;
    z-index: 0;
    left: 320px;
    top: 110%;
}

#j5 {
    z-index: 0;
    box-shadow: 0px 20px 100px #555;
    left: -50px;
    top: 110%;
}

.contenedorjuegos:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
}

.JUEGOS {
    position: absolute;
    width: 400px;
    margin-bottom: 10px;
    
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }
    100% {
        top: 0%;
    }
}

/* Estilo para el contenedor de la lista de noticias */
.noticias-list {
    margin-top: 80%;
    color: white;
    text-align: center; /* Centrar el contenido horizontalmente */
    list-style: none; /* Quitar viñetas de la lista */
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
    display: flex; /* Utilizar el modelo de caja flexible */
    justify-content: center; /* Centrar los elementos horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
}

/* Estilo para cada elemento de la lista de noticias */
.noticias-item {
    width: calc(25% - 20px); /* Ancho ajustado para mostrar 4 elementos por fila */
    margin: 10px; /* Margen de separación entre cada elemento */
}

/* Estilo para el título de la noticia */
.noticias-item h2 {
    margin-top: 10px; /* Espacio superior */
    font-size: 18px; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto horizontalmente */
}

/* Estilos para las imágenes con ID greyzone, gratis, hellsdriver y raider */
#greyzone, #gratis, #hellsdriver, #raider {
    height: 300px;
    width: 300px;
}

/* Ajustamos el tamaño de las imágenes de las noticias */
.noticias-imagen {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al contenedor */
    height: auto; /* Altura automática para mantener la proporción de aspecto */
    display: block; /* Para asegurarse de que las imágenes se muestren correctamente */
    margin: 0 auto 20px; /* Margen superior e inferior de 20px, margen izquierdo y derecho automáticos */
}


/*----------------------------------------------------------INICIO SESIÓN / REGISTRO------------------------------------------------------------------------*/


.contenedor{
    width:100% ;
    padding: 15px;

}
.formulario{
    
    background: white;
    margin-top: 100px;
}
h1{
    padding-top: 20px;  
    text-align: center;
    color: black;
    font-size: 40px;

}
img{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;

}
input[type="text"],input[type="password"]{

    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;

}
.input-contenedor {
    margin-bottom: 15px;
    border: 1px aolid #aaa;
}
.button{

    border: none;
    width: 90%;
    font-size: 24px;
    color: white;
    background-color: #6160d7;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;


}
.button:hover{

    background-color: #1a1929;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a1929;
    font-weight: 600px;
}
.link:hover{
    color: #1a1929;
}
@media(min-width: 768px){
    .formulario{
         margin-top: 150px;
         width: 550px;
         margin: auto;
         border-radius: 2%;
    }
}

.registro{
    color: blue;
}

.terminos-contenedor {
    text-align: center; 
    margin-bottom: 20px; 
}

/*----------------------------------------------------------PERSONAJES 2------------------------------------------------------------------------*/
h1 {
    margin-top: auto;
    text-align: center;
    font-size: 80px;
    color: #6160d7;
    font-family: "Verdana";
    /*Insertar tipo grafia para la web*/
}

.titulo1 {
    margin-top: 250px;
}

.container_cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all ease 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    height: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgb(0,0,0,0.5));
    transition: all ease 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .description {
    background: #1a1929;
    margin-top: 10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all ease 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2 {
    color: white;
    font-family: "Verdana";
    margin-top: 10px;
    font-family: "Verdana";
}

.card .description p {
    color: white;
    font-family: "Verdana";
    margin-top: 10px;
    text-align: left;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    margin-left: 16px;
    border: none;
    background: #6160d7;
    color: white;
    font-family: "Verdana";
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
}

.card .description input:hover {
    background: #C79DC3;
}

.imgPersonajes {
    width: 300px;
    height: 300px;
}
/*----------------------------------------------------------PRODUCTOS------------------------------------------------------------------------*/

/*Imagen de fonde para los productos*/
.fondo_productos {
    position: relative;
    left: auto;
    margin-top: auto;
}

.imagen_fondo_productos {
   width: 1000px;
   height: 650px;
}

/*Ropa*/
.camisa1 {
    position: absolute;
    left: 0px;
    transition: transform 0.3s ease; 
}

.camisa1:hover {
    transform: scale(1.1); 
}

.camisa1_1 {
    width: 250px;
    height: auto;
}

/*Jugetes*/
.juguete2 {
    position: absolute;
    left: 0px;
    top: 370px;
    transition: transform 0.3s ease; 
}

.juguete2:hover {
    transform: scale(1.1); 
}

.juguete2_2 {
    width: 250px;
    height: auto;
}

.juguete1 {
    position: absolute;
    left: 480px;
    top: 300px;
    transition: transform 0.3s ease; 
}

.juguete1:hover {
    transform: scale(1.1); 
}

.juguete1_1 {
    width: 250px;
    height: auto;
}

.juguete3 {
    position: absolute;
    left: 820px;
    top: 530px;
    transition: transform 0.3s ease; 
}

.juguete3:hover {
    transform: scale(1.1); 
}

.juguete3_3 {
    width: 100px;
    height: auto;
}

/*Libros*/
.libro1 {
    position: absolute;
    left: 750px;
    top: 100px;
    transition: transform 0.3s ease; 
}

.libro1:hover {
    transform: scale(1.1); 
}

.libro1_1 {
    width: 200px;
    height: auto;
}

.libro2 {
    position: absolute;
    left: 275px;
    top: 100px;
    transition: transform 0.3s ease; 
}

.libro2:hover {
    transform: scale(1.1); 
}

.libro2_2 {
    width: 200px;
    height: auto;
}

.libro3 {
    position: absolute;
    left: 525px;
    top: 110px;
    transition: transform 0.3s ease; 
}

.libro3:hover {
    transform: scale(1.1); 
}

.libro3_3 {
    width: 185px;
    height: auto;
}

/*Gorras*/

.gorra1 {
    position: absolute;
    left: 230px;
    top: 480px;
    transition: transform 0.3s ease; 
}

.gorra1:hover {
    transform: scale(1.1); 
}

.gorra1_1 {
    width: 185px;
    height: auto;
}

.gorra2 {
    position: absolute;
    left: 600px;
    top: 500px;
    transition: transform 0.3s ease; 
}

.gorra2:hover {
    transform: scale(1.1); 
}

.gorra2_2 {
    width: 185px;
    height: auto;
}

.gorra3 {
    position: absolute;
    left: 420px;
    top: 480px;
    transition: transform 0.3s ease; 
}

.gorra3:hover {
    transform: scale(1.1); 
}

.gorra3_3 {
    width: 185px;
    height: auto;
}

/*Medias*/
.medias1 {
    position: absolute;
    left: 230px;
    top: 300px;
    transition: transform 0.3s ease; 
}

.medias1:hover {
    transform: scale(1.1); 
}

.medias1_1 {
    width: 185px;
    height: auto;
}

.medias2 {
    position: absolute;
    left: 750px;
    top: 300px;
    transition: transform 0.3s ease; 
}

.medias2:hover {
    transform: scale(1.1); 
}

.medias2_2 {
    width: 185px;
    height: auto;
}
/*Div de productos CAMISAS*/
.container_products2{
    background-color: #1a1929;
    width: auto;
    height: auto;
}

.camisas {
    font-family: "Verdana";
    color: white;
    margin-left: 50px;
    text-align: left;
}

.container_mercancia1 {
    background-color: #6160d7;
    position: relative;
    display: inline-block; 
    margin: 40px 50px; 
    width: 400px; 
    height: 450px; 
    vertical-align: top;
}

.container_mercancia2 {
    background-color: #6160d7;
    position: relative;
    display: inline-block; 
    margin: 40px 50px;
    width: 400px;
    height: 500px;
    vertical-align: top;
}

.container_mercancia3 {
    background-color: #6160d7;
    position: relative;
    display: inline-block; 
    margin: 40px 50px;
    width: 400px; 
    height: 450px; 
    vertical-align: top;
}

.container_info_productos {
    background-color: #1a1929;
    margin-top: 100%;
    width: 100%;
    height: 100%;
}

.camisa1_producto {
    position: absolute;
    width: 100%;
    height: 450px;
    transition: transform 0.3s ease; 
}

.camisa1_producto:hover {
    transform: scale(1.05); 
}

.camisa2_producto {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease; 
}

.camisa2_producto:hover {
    transform: scale(1.05);  
}

.camisa3_producto {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 350px;
    transition: transform 0.3s ease; 
}

.camisa3_producto:hover {
    transform: scale(1.05); 
}
.titulo_producto {
    color: white;
    font-family: "Verdana";
}

.info_producto {
    color: white;
    font-family: "Verdana";
    font-size: 20px;
    margin-top: 5px;
    margin-left: auto;
    text-align: left;
}

.precio_producto {
    color: white;
    font-family: "Verdana";
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    text-align: left;
}

/*Div de productos Juguetes*/
.container_products3{
    background-color: #1a1929;
    width: auto;
    height: auto; 
}

.juguetes {
    font-family: "Verdana";
    color: white;
    margin-left: 50px;
    text-align: left;
    position: relative;
}

.juguete2_producto {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 350px;
    transition: transform 0.3s ease; 
}

.juguete2_producto:hover {
    transform: scale(1.05); 
}

.juguete3_producto {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 350px;
    height: 350px;
    transition: transform 0.3s ease; 
}

.juguete3_producto:hover {
    transform: scale(1.05); 
}

/*Div de productos LIBROS*/
.container_products4{
    background-color: #1a1929;
    width: auto;
    height: auto; 
}

.libros {
    font-family: "Verdana";
    color: white;
    margin-left: 50px;
    text-align: left;
    position: relative;
}

.libro1_producto {
    position: absolute;
    width: 100%;
    top: 20px;
    height: 350px;
    transition: transform 0.3s ease; 
}

.libro1_producto:hover {
    transform: scale(1.05); 
}

/*Div de productos NOVEDADES*/
.container_products5{
    background-color: #1a1929;
    width: auto;
    height: auto; 
}

.novedades {
    font-family: "Verdana";
    color: white;
    margin-left: 50px;
    text-align: left;
    position: relative;
}







