/*MENU DESPLEGABLE*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    /* Ajustar el relleno superior para evitar que el contenido se solape con el menú fijo */
    padding-top: 60px; /* Ajustar según la altura del menú */
    background-color: #252645;
}

header {
    position: fixed; /* Hacer que el menú sea fijo */
    top: 0; /* Fijar en la parte superior de la página */
    width: 100%;
    background-color: #1a1929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Verdana";
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

ul {
    list-style: none;
    width: 100%;
    background-color: #1a1929; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 55px;
}

.nav li {
    width: auto;
    
}
.nav li a {
    color: azure;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-left: 25px;
}
.nav li a:hover {
    background-color: #252645;
}
/* Estilo para los botones */
.buttons button {
    font-family: "Verdana";
    background-color: #6160d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 15px; /* Espacio entre los botones */
    cursor: pointer;
}

.buttons button:hover {
    background-color: #252645;
}

/* Alineación de los botones */
.buttons {
    margin-left: auto; /* Mueve los botones al margen derecho */
    display: flex;
    align-items: center; /* Centra los botones verticalmente */
}
/*INDEX*/
.IntroduccionIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
}
.TituloIntroduccionIndex{
    text-align: center;
}
.HistoriaIndex{
    float: right;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 140px;
}
.TituloHistoriaIndex{
    text-align: center;
}
.ValoresIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 180px;
}
.TituloValoresIndex{
    text-align: center;
}
.MisionVisionIndex{
    float: right;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 280px;
}
.TituloMisionVisionIndex{
    text-align: center;
}
.EquipoIndex{
    float: left;
    color: white;
    text-align: center;
    background-color: #1a1929;
    position: relative;
    top: 340px;
}
.TituloEquipoIndex{
    text-align: center;
}
/*--------------------------------------------------JUEGOS/EXPANSIONES-------------------------------------------------------*/

.contenedorarriba,
.contenedorabajo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedorarriba .card,
.contenedorabajo .card {
    margin: 20 40px;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    /* Aplicar margenes con resto de cartas*/
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Determina si la cara posterior de un elemento es visible de frente al usuario */
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Indica cómo el contenido de un elemento deberá ser redimensionado 
    para ajustarse a su contenedor*/
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgb(0,0,0,0.4);    
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}
.card .back .link{
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
   color: #f3f3f3;
}
.card .back .link h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back .link p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
} 
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
} 
 

/* Estilo del botón de Más Información */
.card .back .info-button {
    background-color: #6160d7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px; /* Ajustamso el espacio entre el botón y el texto */
}

.card .back .info-button:hover {
    background-color: #252645;
}

/*----------------------------------------------------------INICIO SESIÓN / REGISTRO------------------------------------------------------------------------*/


.contenedor{
    width:100% ;
    padding: 15px;

}
.formulario{
    
    background: white;
    margin-top: 100px;
}
h1{
    padding-top: 20px;  
    text-align: center;
    color: black;
    font-size: 40px;

}
img{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;

}
input[type="text"],input[type="password"]{

    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;

}
.input-contenedor {
    margin-bottom: 15px;
    border: 1px aolid #aaa;
}
.button{

    border: none;
    width: 90%;
    font-size: 24px;
    color: white;
    background-color: #6160d7;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;


}
.button:hover{

    background-color: #1a1929;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a1929;
    font-weight: 600px;
}
.link:hover{
    color: #1a1929;
}
@media(min-width: 768px){
    .formulario{
         margin-top: 150px;
         width: 550px;
         margin: auto;
         border-radius: 2%;
    }
}

.registro{
    color: blue;
}

.terminos-contenedor {
    text-align: center; 
    margin-bottom: 20px; 
}